*AuctionSite/.svn/entries
*AuctionSite/.svn/format
*AuctionSite/AuctionContext/Migrations
*.resx
*.orig
!*AuctionSite/AuctionContext/Migrations/Configuration.cs
*AuctionDTOs/.vs/AuctionDTOs/v14/.suo
*.dll
*.pdb
*.cache
*AuctionSite/.vs/AuctionSite/v14/.suo
*.htm
*.nupkg
*.transform
*.psd1
*.exe
*.xml
*AuctionSite/AuctionContext/bin/Debug/EntityFramework.xml
*AuctionSite/AuctionPOCOs/bin/Debug/EntityFramework.xml
*AuctionSite/AuctionWebApi/bin/EntityFramework.xml
*AuctionSite/UnitTests/bin/Debug/EntityFramework.xml
*AuctionSite/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
*AuctionSite/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
*.user
*.targets
*.xdt
*.props
*.rtf
*canvasMVC/CanvasMVC/.vs/CanvasMVC/v14/.suo  