@{    
    Page.Title = "About Us";
    ViewBag.Title = "About Us";
}

<h1>@Page.Title</h1>
<hr />
<h2>Who are we?</h2>

<article>
    <p>
        Canvas is an auction platform for buying and selling art, sculptures and other vintage items.
    </p>

    <p>
        We aim to make the process as simple as possible, with <strong>no listing fees!</strong>
    </p>

    <p>
        Simply join us, list your item, and watch as the bids come in.
    </p>
</article>

<aside>
    <h3>Useful links</h3>
    <p>
        To get started, click on a link below.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Home/Contact">Contact</a></li>
        <li><a href="~/Account/Register">Register</a></li>
    </ul>
</aside>