@{
    Page.Title = "Contact Us";
    ViewBag.Title = "Contact Us";
}

<h1>@Page.Title</h1>
<hr />
<h4>Questions or feedback? We want to hear from you!</h4>    

<section class="contact">
    <header>
        <h3>Tel:</h3>
    </header>
    <p>
        <strong>UK Customer Service (Mon-Sun 9am to 5pm):</strong>
        <span>+44 800 914 2312</span>
    </p>
    <p>
        <strong>After Hours:</strong>
        <span>+44 800 914 2313</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail:</h3>
    </header>
    <p>
        <strong>Support:</strong>
        <span><a href="mailto:support@canvas.com">support@canvas.com</a></span>
    </p>
    <p>
        <strong>Marketing:</strong>
        <span><a href="mailto:marketing@canvas.com">marketing@canvas.com</a></span>
    </p>
    <p>
        <strong>General:</strong>
        <span><a href="mailto:general@canvas.com">general@canvas.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        14 Riverside Way<br />
        Leeds, West Yorkshire<br />
        LS1 2BB<br />
        United Kingdom
    </p>
</section>