@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Username or E-mail already exists!</h1>
<h2 class="text-danger">An error occurred while processing your request. Please use another usename or e-mail.</h2>
